div.container {
    background-color: lightskyblue;
    padding: 8px 24px;
    margin-bottom: 8px;

    p.local a {
        background-color: lightgreen;
    }
    
    p.foreign a {
        background-color: lightcoral;
    }
}
